.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  
}

.cabecalho {
  border-bottom: 1px solid  #939393;
  padding-bottom: 6px;
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 22px;
  color: #7d7d7d;
}

.destaque {
  font-weight: 600;
  color: rgb(103, 103, 103);
}

.farol-amarelo {
  color: rgb(231, 231, 2);
  font-size: 30px;
}

.farol-verde {
  color: #0b950b;
   font-size: 30px;
}

.farol-vermelho {
    color: #ba1616;
   font-size: 30px;
}
.container-cs {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.example-header {
  margin-top: 22px;
  min-height: 64px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
