<div class="example-container-a">
    <form class="example-container" [formGroup]="reactiveForm" (ngSubmit)="controle()">
       <h2>Formulário aplicação</h2>

        <mat-form-field>
            <input matInput formControlName="name" placeholder="Nome" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="area" placeholder="Área" required>
        </mat-form-field>

        <mat-form-field >
            <input matInput type="number" formControlName="porcentagem" placeholder="Porcentagem" required>
        </mat-form-field>

        <div>
            <label>Quadrante: </label>
            <mat-radio-group formControlName="farol" >
                <mat-radio-button *ngFor="let item of farols" [value]="item.id">
                    {{ item.name }}</mat-radio-button>
            </mat-radio-group>
        </div>

        <button type="submit" mat-raised-button color="primary" class="bt-n">Enviar</button>
    </form>

</div>